{% extends "base_registration.html" %}

{% block title %}Login | My Goals Tracker{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center mt-3 text-center">
        <h2 class="display-2 text-success">DjanGoals</h2>

    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-sm-5">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
            {% endif %}

            <div class="card px-3">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h2 class="card-title text-center">Please login</h2>
                        <div class="form-group row">
                            <label for="id_username" class="sr-only">Username</label>
                            <input type="text" name="username" id="id_username" maxlength="254" class="form-control" placeholder="Username" required autofocus />
                        </div>
                        <div class="form-group row">
                            <label for="id_password" class="sr-only">Password</label>
                            <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                    <p class="d-flex justify-content-between">
                        <a href="{% url 'password_reset' %}">Lost password?</a>
                        <a href="{#{% url 'register_account' %}#}">Register account?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
